player-connection-mode=Listen
player-connection-guid=481968262
player-connection-debug=0
player-connection-project-name=HeavenlyAscend
player-connection-ip=192.168.129.1
player-connection-ip=192.168.110.1
player-connection-ip=172.27.177.204
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
